<?xml version="1.0" encoding="UTF-8"?><configuration>	<property name="USER_HOME" value="c:/log" />	<property name="FILE_NAME" value="e9c80fec-4690-45b8-82e5-6d5804205302.html" />	<appender name="FILE" class="ch.qos.logback.core.FileAppender">		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">			<layout class="ch.qos.logback.classic.html.HTMLLayout">				<pattern>%msg</pattern>			</layout>		</encoder>		<file>${USER_HOME}/${FILE_NAME}</file>		<append>false</append>	</appender>	<logger name="MethodTrace" additivity="false">		<appender-ref ref="FILE" />	</logger>	<root>		<level>info</level>	</root></configuration>